@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: RobotoNormal;
    src: url('./assets/fonts/robots/Roboto-Regular.ttf');
}

:root {
    --primaryBlack: 'rgb(0, 47, 52)';
    --primaryBlue: 'rgb(59 130 246)';
}

* {
    color: var(--primaryBlack);
    font-family: RobotoNormal;
}

body {
    overflow: none;
}